.main-container {
  display: flex;
  position: relative;
  height: 100%;
}

.canvas-wrapper {
  width: 100%;
}

.canvas-small {
  width: 200px;
  height: 200px;
}

.victory-alert {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 600px;
  height: 400px;
  transform: translate(-50%, -50%);
  z-index: 500;
  display: flex;
  background-color: rgba(0, 0, 30, 0.85);

  border: 4px solid #00ffff;
  box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
  border-radius: 8px;
}

.victory-alert-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
  position: absolute;
  z-index: 0;
}

.victory-alert-inside {
  color: white;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.winner-text {
  color: #00ffff;
  font-family: "Orbitron", sans-serif;
  font-size: 48px;
  text-shadow: 0 0 1px #00ffff, 0 0 2px #00ffff, 0 0 3px #00b4ff;
  text-align: center;
  letter-spacing: 2px;
}
