@import "./components/playerList/playerList.css";
@import "./components//alerts/alerts.css";

* {
  font-family: "Orbitron", sans-serif;
}

.main-container {
  display: flex;
  position: relative;
  height: 100%;
}

.canvas-wrapper {
  width: 100%;
}

.canvas-small {
  width: 200px;
  height: 200px;
}

.text-low-shadow {
  margin-left: 8px;

  text-align: center;
  letter-spacing: 2px;
}
